
    .line a{
   text-decoration:none;
    }
     
h3,h2
{
    text-align: center;
}
h2
{
    font-style: oblique;
    
}
h3{
    font-style: initial;
}
.img {

    margin-top: 115px;
    margin-left: 44%;
    margin-right: auto;
    

    
  }
  .one{
     font-weight: 900;
     position:absolute;
     top: 150px;
     right: 860px;
     
     

    

  }

  .two{
   position:absolute;
   font-weight: 900;
    top: 200px;
    right: 950px;
   
 
  }

  .three{
    font-weight: 900;
   position:absolute;
    top: 267px;
    right: 925px;
  ;
  }

  .four{
    font-weight: 900;
   position:absolute;
    top: 325px;
    right: 900px;
  
  }

  .five{
    font-weight: 900;
   position:absolute;
    top: 390px;
    right: 860px;
    
  }

  .six{
   position:absolute;
   font-weight: 900;
    top: 150px;
    right: 550px;
    left: auto;
  
  }

  .seven{
   position:absolute;
    top: 200px;
    font-weight: 900;
    right: 520px;
    
  }

  .eight{
   position:absolute;
    top: 267px;
    font-weight: 900;
    right: 497px;
   
  }

  .nine{
   position:absolute;
    top: 325px;
    right: 515px;
    left: auto;
    font-weight: 900;
   
  }
  
  .ten{
   position:absolute;
    top: 390px;
    right: 530px;
    font-weight: 900;
  
  }


  .p1{

     font-size: 12px;

  }

  .p2{

    font-size: 12px;

 }
 .p2{

    font-size: 12px;

 }
 .p3{

    font-size: 12px;

 }
 .p4{

    font-size: 12px;

 }
 .p5{

    font-size: 12px;

 }
 .p6{

    font-size: 12px;

 }
 .p7{

    font-size: 12px;

 }
 .p8{

    font-size: 12px;

 }
 .p9{

    font-size: 12px;

 }
 .p10{

    font-size: 12px;

 }

 label {
   display: block;
   font: 1rem 'Fira Sans', sans-serif;
   
}





form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 27%;
  background: white;
  position: absolute;
  left: 550px;
  top: 460px;
}

form.example button {
  float: left;
  width: 5%;
  padding: 10px;
  background: blue;
  color: white;
  font-size: 17px;
  border: 1px solid blue;
  border-left: none; 
  cursor: pointer;
  position: absolute;
  left: 920px;
  top: 460px;
}

form.example button:hover {
  background: #0b7dda;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}

 .RButton{
 

   margin-top: 8%;
   margin-left: 630px;
   /* padding: 100px; */
 } 










/* .hr{

   display: block;
  margin-top: 900px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} */